fastapi==0.111.0
uvicorn==0.30.0
sqlalchemy==2.0.30
pyodbc==5.1.0
alembic==1.13.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
azure-storage-blob==12.20.0
pydantic-settings==2.2.1
